.like-comment {
    

    .like-comment__btns {
        display: flex;
        justify-content: space-between;

        .like {
            width: auto;
            height: 48px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            gap: 5px;
            border-radius: 0.4rem;
            min-height: 3.2rem;
            line-height: 2.8rem;
            padding: 10px 10px;
            background-color: transparent;
            transition-duration: 167ms;
            cursor: pointer;
            &:hover {
                background-color: rgba(200, 200, 200, 0.5);
            }
        
            p {
                font-weight: 600;
                color: gray;
                margin-top: 4px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        
            span {
                color: gray;
                margin-top: 5px;
                font-weight: 600;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }
    }

    .like-comment__input-block {
        height: auto;
        display: flex;
        justify-content: space-between;
        gap: 8px;
        position: relative;
        margin-top: 1rem;

        .like-comment__img {
            min-width: 40px;
            width: 40px;
            height: 40px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            object-fit: cover;
            background-color: black;
            display: inline-block;
        }

        .like-comment__input {
            width: 90%;
            height: 40px;
            border-radius: 20px;
            background-color: transparent;
            border: 1px solid rgba(0,0,0,0.3);
            padding: 9.5px 50px 9.5px 9.5px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.9);
            &:focus {
                outline: none;
                box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
            }

            &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active {
                        transition: background-color 5000s ease-in-out 0s;
                        -webkit-text-fill-color: rgba(0,0,0,0.9) !important;
                    }
        }

        &:has(.like-comment__input:focus) {
            .like-comment__btn {
                box-shadow: 0px 0px 0px 1px #0073b1;
            }
        }

        .like-comment__btn {
            position: absolute;
            height: 100%;
            width: 70px;
            @media(max-width: 767.98px) {
                width: 45px;
            }
            align-self: flex-end;
            right: 0;
            border-radius: 0 20px 20px 0;
            background-color: #0073b1;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .like-comment__all-comments {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 2rem;

        .comment__box {
            display: flex;
            gap: 8px;
            .comment__user-icon {
                display: inline-flex;
                width: 45px;
                height: 45px;
                min-width: 45px;
                object-fit: cover;
                border-radius: 50%;
                cursor: pointer;
            }

            .comment__texts {
                width: 93%;
                height: auto;
                background-color: rgb(234, 234, 234);
                border-radius: 0 8px 8px 8px;
                padding: 10px;
                display: flex;
                flex-direction: column;

                .comment__user {
                    color: rgba(0, 0, 0, 0.9);
                    font-weight: 600;
                    margin-bottom: 3px;
                    font-size: 14px;
                    margin-bottom: 2px;
                }

                .comment__timeStamp {
                    font-size: 12px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.6);
                    margin-bottom: 10px;
                }

                .comment__comment {
                    font-size: 14px;
                    line-height: 20px;
                    color: rgba(0, 0, 0, 0.9);
                }
            }
        }
    }
}