.topbar {
    width: 100%;
    height: 53px;
    padding: 0 24px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;

    .topbar__block {
        width: inherit;
        display: flex;
        align-items: center;
        margin: 0 9.16%;
        @media(max-width:1200px) {
            margin: 0;
        }


        .topbar__logo {
            cursor: pointer;
        }
    
        .topbar__search {
            position: relative;
            max-width: 280px;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 0.4rem;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            transition: 0.2s;
            margin-left: 7px;
            margin-right: auto;
            @media(max-width: 1050px) {
                max-width: 224px;
            }
            @media(max-width:991.98px) {
                max-width: 30px;
                &:has(.topbar__search-input:focus) {
                    max-width: 100vw;
                }
            }
    
            .topbar__search-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                transform: translateX(3px);
                z-index: 5;
                cursor: pointer;
                content: "";
                &::after {
                    content: "Search";
                    color: gray;
                }
            }
    
            .topbar__search-input {
                position: relative;
                z-index: 0;
                width: 80%;
                line-height: 1.75;
                font-weight: 400;
                font-size: 14px;
                height: 34px;
                background-color: #eef3f8;
                color: rgba(0,0,0,0.9);
                border: none;
                box-shadow: none;
                border-radius: 0.4rem;
                outline: 0;
                padding: 0 0.2rem 0 1.8rem;
                transition: 156ms;
    
                &:focus {
                    border: 1px #0073b1 solid;
                    box-shadow: 0 0 0 1px var(--color-action, #0a66c2);
                    font-size: 16px;
                    width: 100%;
                    padding-left: 2rem;
                    z-index: 0;
                }

                @media(max-width:1050px) {
                    width: 100%;
                }

                @media(max-width:991.98px) {
                    width: 30px;
                    background-color: transparent;
                    &:focus {
                        width: 100%;
                        background-color: #eef3f8;
                    }
                }
            }
        }

        .topbar__menu {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 200ms;
            @media(max-width:991.98px) {
                & {
                    position: absolute;
                    opacity: 0;
                    top: -130%;
                    right: 24px;
                    width: 300px;
                    height: 60px;
                    padding: 1rem;
                    background-color:whitesmoke;
                    border-radius: 20px;
                    justify-content: space-between;
                    display: flex;
                }
                &.active {
                    opacity: 1;
                    top: 60px;
                }
            }

            .topbar__common {
                font-size: 12px;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: gray;
                cursor: pointer;
                &:hover {
                    color: rgba(0,0,0,0.9);
                    .topbar__icon {
                        fill: rgba(0,0,0,0.9);
                    }
                }
        
                .topbar__icon {
                    width: 21px;
                }
    
                @media(max-width:767.89px) {
                    &  {
                        width: 40px;
                    }
                    p {
                        display: none;
                    }
                }
            }
        }
    
        

        @media(max-width:991.98px) {
            &:has(.topbar__search-input:focus) {
                .topbar__burger {
                    position: absolute;
                    left: 150%;
                }
                .topbar__menu {
                    display: none;
                }
            }
        }

        

        .topbar__user{
            
            .topbar__user-icon {
                
            }
        }
    }
}

.topbar__burger {
    display: none;
    width: 30px;
    height: 25px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    

    .topbar__bar {
        width: 100%;
        height: 2px;
        background-color: gray;
        transition-duration: 156ms;
    }

    @media(max-width:991.98px) {
        & {
            display: flex;
        }
        &.active {
            .topbar__bar:nth-child(2) {
                display: none;
            }
            .topbar__bar:nth-child(1) {
                transform: translateY(5px) rotate(45deg);
            }
            .topbar__bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}